@keyframes arrow-animations {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes scroll-watcher {
  to { scale: 1 1; }
}

@keyframes bg-1-animation {
  0%,
  42% { top: 100vh; }
  54% { top: 0 }
  66%,
  100% { top: -100vh; }
}
@keyframes bg-2-animation {
  0%,
  66% { top: 100vh; }
  78% { top: 0; }
  90%,
  100% { top: -100vh}
}
@keyframes bg-3-animation {
  0%,
  60% { top: 100vh; }
  72% { top: 0; }
  84%,
  100% { top: -100vh}
}

@keyframes first-point {
  0% {
    opacity: 0;
    scale: 1.5;
  }
  2%,
  90% {
    opacity: 1;
    scale: 1;
  }
  92%,
  100% {
    opacity: 0;
    scale: 1.5;
  }
}

@keyframes second-point {
  0% {
    opacity: 0;
    scale: 1.5;
  }
  8% {
    opacity: 0;
    scale: 1.5;
  }
  10%,
  94% {
    opacity: 1;
    scale: 1;
  }
  96%,
  100% {
    opacity: 0;
    scale: 1.5;
  }
}

@keyframes third-and-fourth-point {
  0%,
  16% {
    opacity: 0;
    scale: 1.5;
  }
  18%,
  98% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 1.5;
  }
}

@keyframes fifth-and-sixth-point {
  0%,
  24% {
    opacity: 0;
    scale: 1.5;
  }
  26%,
  98% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 1.5;
  }
}

@keyframes eighth-and-ninth-point {
  0%,
  32% {
    opacity: 0;
    scale: 1.5;
  }
  34%,
  98% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 1.5;
  }
}

@keyframes first-radius {
  2% {
    width: 0;
    transform: rotate(0) translate(-52%);
  }
  4% {
    width: var(--small-circle-radius);
    transform: rotate(0) translate(-52%);
  }
  8% {
    width: var(--small-circle-radius);
    transform: rotate(-360deg) translate(-52%);
  }
  10%,
  100% {
    width: 0;
  }
}

@keyframes second-radius {
  0%,
  10% {
    width: 0;
    transform: rotate(-5deg) translate(-52%);
  }
  12% {
    width: var(--small-circle-radius);
    transform: rotate(-5deg) translate(-52%);
  }
  16% {
    width: var(--small-circle-radius);
    transform: rotate(-175deg) translate(-52%);
  }
  18%,
  100% {
    width: 0;
  }
}

@keyframes third-radius {
  0%,
  18% {
    width: 0;
  }
  20% {
    width: 170px;
    transform: rotate(-270deg) translateX(-50%);
  }
  24% {
    width: 170px;
    transform: rotate(-495deg) translateX(-50%);
  }
  26%,
  100% {
    width: 0;
    transform: rotate(-495deg) translateX(-50%);
  }
}

@keyframes fourth-radius {
  0%,
  20% {
    width: 0;
  }
  22% {
    width: 170px;
    transform: rotate(-270deg) translateX(-50%);
  }
  26% {
    width: 170px;
    transform: rotate(-45deg) translateX(-50%);
  }
  28%,
  100% {
    width: 0;
    transform: rotate(-45deg) translateX(-50%);
  }
}

@keyframes fifth-radius {
  0%,
  26% {
    width: 0;
  }
  28% {
    width: 170px;
    transform: rotate(-20deg) translateX(-50%);
  }
  32% {
    width: 170px;
    transform: rotate(200deg) translateX(-50%);
  }
  34%,
  100% {
    width: 0;
    transform: rotate(200deg) translateX(-50%);
  }
}

@keyframes first-circle {
  4% {
    stroke-dashoffset: 616;
  }
  8%,
  36% {
    stroke-dashoffset: 1232;
    stroke-width: 3px;
    stroke: var(--secondary-color);
  }
  40% {
    stroke-width: 5px;
    stroke: var(--accent-color);
  }
  78% { opacity: 1; }
  80% { opacity: 0; }
  100% {
    stroke-dashoffset: 1232;
    stroke-width: 5px;
    stroke: var(--accent-color);
    opacity: 0
  }
}

@keyframes second-circle {
  0%,
  12% {
    stroke-dasharray: 616;
    stroke-dashoffset: 616;
  }
  16%,
  36% {
    stroke-width: 3px;
    stroke-dasharray: 616;
    stroke-dashoffset: 908;
  }
  40% {
    stroke-width: 2px;
  }
  54% { opacity: 1; }
  56% { opacity: 0; }
  100% {
    stroke-dasharray: 616;
    stroke-dashoffset: 908;
    stroke-width: 2px;
    opacity: 0;
  }
}

@keyframes third-circle {
  0%,
  20% {
    stroke-dasharray: 1200;
    stroke-dashoffset: 1332;
  }
  24%,
  36% {
    stroke-width: 3px;
    stroke-dasharray: 1200;
    stroke-dashoffset: 2003;
  }
  40% {
    stroke-width: 2px;
  }
  54% { opacity: 1; }
  56% { opacity: 0; }
  100% {
    stroke-dasharray: 1200;
    stroke-dashoffset: 2003;
    stroke-width: 2px;
    opacity: 0;
  }
}

@keyframes fourth-circle {
  0%,
  22% {
    stroke-dasharray: 1200;
    stroke-dashoffset: -1200;
  }
  26%,
  36% {
    stroke-width: 3px;
    stroke-dasharray: 1200;
    stroke-dashoffset: -1870;
  }
  40% {
    stroke-width: 2px;
  }
  54% { opacity: 1; }
  56% { opacity: 0; }
  100% {
    stroke-dasharray: 1200;
    stroke-dashoffset: -1870;
    stroke-width: 2px;
    opacity: 0;
  }
}

@keyframes fifth-circle {
  0%,
  28% {
    stroke-dasharray: 1200;
    stroke-dashoffset: -1200;
  }
  32%,
  36% {
    stroke-width: 3px;
    stroke-dasharray: 1200;
    stroke-dashoffset: -1850;
  }
  40% {
    stroke-width: 2px;
  }
  54% { opacity: 1; }
  56% { opacity: 0; }
  100% {
    stroke-dasharray: 1200;
    stroke-dashoffset: -1850;
    stroke-width: 2px;
    opacity: 0;
  }
}

@keyframes vertical-line-animation {
  0%,
  24% {
    opacity: 0;
    bottom: 350px;
  }
  28%,
  36% {
    opacity: 1;
    bottom: 100px;
    border: 2px solid var(--secondary-color);
    width: 1px;
    background-color:var(--secondary-color);
  }
  40% {
    opacity: 1;
    bottom: 100px;
    border: 2px solid var(--accent-color);
    width: 6px;
    background-color:var(--accent-color);
  }
  78% { opacity: 1; }
  80% { opacity: 0; }
  100% {
    bottom: 100px;
    border: 2px solid var(--accent-color);
    width: 6px;
    background-color:var(--accent-color);
    opacity: 0;
  }
}

@keyframes triangle-bottom-border {
  0%,
  36% {
    opacity: 0;
    left: 100px;
  }
  40% {
    opacity: 1;
    left: 0;
  }
  78% { opacity: 1; }
  80% { opacity: 0; }
  100% {
    opacity: 0;
    left: 0;
  }
}

@keyframes triangle-left-border {
  0%,
  36% {
    opacity: 0;
    right: 230px;
    bottom: 0;
  }
  40% {
    opacity: 1;
    right: 170px;
    bottom: 100px;
  }
  78% { opacity: 1; }
  80% { opacity: 0; }
  100% {
    opacity: 0;
    right: 170px;
    bottom: 100px;
  }
}

@keyframes triangle-right-border {
  0%,
  36% {
    opacity: 0;
    left: 100px;
    bottom: 194px;
  }
  40% {
    opacity: 1;
    left: 160px;
    bottom: 94px;
  }
  78% { opacity: 1; }
  80% { opacity: 0; }
  100% {
    opacity: 0;
    left: 160px;
    bottom: 94px;
  }
}
